<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>mapAPI</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=p2vhvidl5l"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<body>
<div id="map" style="width:100%;height:700px;"></div>

<script>
var mapOptions = {
    center: new naver.maps.LatLng(37.3595704, 127.105399),
    zoom: 7
};

var map = new naver.maps.Map('map', mapOptions);

naver.maps.Event.once(map, 'init', function () {
    $.ajax({
        url: 'data',
        dataType: 'json',
        success: startDataLayer
    });
});

function startDataLayer(geojson) {
    map.data.addGeoJson(geojson);
}

</script>
</body>
</html>